.normal {
    width: 100%;
    margin: 10px 0;
}
.notasks {
    width: 100%;
    margin: 10px 0;

    height: 150px;
}
.show_space {
    cursor: grabbing;
    width: 295px;
    height: 150px;
    transition: ease-in 0.5 linear;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px dashed rgba(183, 183, 183, 0.633) !important;
    border-radius: 10px;
    margin: 30px 0;
}
.hide_space {
    transition: ease-out 0.5 linear;
    padding: 10px 0 0;
}
