#board {
    height: 440px;
    width: 100vw;
    margin: 0 auto;
    margin-top: 5%;
    /* background-color:#CCC; */
    overflow-y: auto;
    float: left;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}
