#board {
    height: 440px;
    width: 90vw;
    /* background-color:#CCC; */
    overflow-y: auto;
    float: left;
    position: relative;
    margin: 5%;
    height: auto;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}
